.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    margin-left: 1vw;
  }

  .spacer{
    height: 20vh;
    width: 100%;
  }
  .message {
    padding: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 8px;
    max-width: 80%;
    height: auto !important;
    text-align: center;
    
  }
  
  .message.assistant {
    background-color: #6a0dad;
    color: white !important;
    align-self: flex-start;
    color: #333;
  }
  
  .message.user {
    background-color: #F2E5FF;
    color: #5C1F99;
    align-self: flex-end;
  }
  
.chatContainerParent{
    position: absolute;
    max-height: 40vh;
    bottom: 150px;
    left: 10px;
    right: 10px;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, transparent, black 100%, black 20%, transparent);
}

.AgentContainer {
  z-index: 0;
  top: 0px;
  margin: 0px;
  padding-top: 10px;
}