.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    margin-left: 1vw;
    padding-bottom: 10px;
  }

  .spacer{
    height: 20vh;
    width: 100%;
  }
  .message {
    padding: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 8px;
    max-width: 80%;
    height: auto !important;
    text-align: center;
    
  }
  
  .message.assistant {
    background-color: #6a0dad;
    color: white !important;
    align-self: flex-start;
    color: #333;
  }
  
  .message.user {
    background-color: #F2E5FF;
    color: #5C1F99;
    align-self: flex-end;
  }
  
.chatContainerParent{
    position: absolute;
    max-height: 40vh;
    bottom: 150px;
    left: 10px;
    right: 10px;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, transparent, black 100%, black 20%, transparent);
}

.ChatContainer {
  z-index: 1;
  top: 0px;
  margin: 0px;
  padding-top: 10px;
  
}

.AgentContainer {
  z-index: 0;
  top: 0px;
  height: 60vh;
  margin: 0px;
  padding: 0px;
  left: 0;
  right: 0;
  position: absolute;
}

/* From Uiverse.io by Shoh2008 */ 
.lds-ellipsis {

  position: relative;
  width: 70px;
  height: 30px;
  left: -10px;
  top: 1px;
  margin: 0;
}

.lds-ellipsis div {
  position: absolute;
left: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(12px, 0);
    -webkit-transform: translate(12px, 0);
    -moz-transform: translate(12px, 0);
    -ms-transform: translate(12px, 0);
    -o-transform: translate(12px, 0);
}
}
