.peerConnectionState-new {
    color: cornflowerblue;
  }
  .peerConnectionState-connecting {
    color: orange;
  }
  .peerConnectionState-connected {
    color: green;
  }
  .peerConnectionState-disconnected,
  .peerConnectionState-closed,
  .peerConnectionState-failed {
    color: red;
  }

  .iceConnectionState-new {
    color: cornflowerblue;
  }
  .iceConnectionState-checking {
    color: orange;
  }
  .iceConnectionState-connected,
  .iceConnectionState-completed {
    color: green;
  }
  .peerConnectionState-disconnected,
  .peerConnectionState-closed,
  .peerConnectionState-failed {
    color: red;
  }

  .iceGatheringState-new {
    color: cornflowerblue;
  }
  .iceGatheringState-gathering {
    color: orange;
  }
  .iceGatheringState-complete {
    color: black;
  }

  .signalingState-stable {
    color: green;
  }
  .signalingState-have-local-offer,
  .signalingState-have-remote-offer,
  .signalingState-have-local-pranswer,
  .signalingState-have-remote-pranswer {
    color: cornflowerblue;
  }
  .signalingState-closed {
    color: red;
  }

  .streamingState-streaming {
    color: green;
  }

  .streamingState-empty {
    color: grey;
  }

  .streamEvent-started {
    color: green;
  }

  .streamEvent-done {
    color: orange;
  }

  .streamEvent-ready {
    color: green;
  }

  .streamEvent-error {
    color: red;
  }

  .streamEvent-dont-care {
    color: gray;
  }

  /* added css from here */

  body * {
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }



  #buttons {
    clear: both;
    padding: 0 0 0 0;
    text-align: center;
    position: absolute;
    z-index: 10;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 0 5px;
    background-color: #7459fe;
    color: #fff;
  }

  button:hover {
    background-color: #9480ff;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  #status {
    clear: both;
    padding: 20px 0 0 0;
    text-align: left;
    display: inline-block;
    zoom: 1;
    line-height: 140%;
    font-size: 15px;
  }

  #status div {
    padding-bottom: 10px;
  }

  #video-wrapper {
    height: 500px;
    background-position: top;

  }

  #video-wrapper div {
    margin: 0 auto;
    z-index: 3;
  }

  #content {
    z-index: 0;
    width: 100%;
    height: 80vh;
    left: 0px;
    margin: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  video {
    left: 0%;
    right: 0%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 100;
    vertical-align: top;
  }

  .videoElementContainer{
    width: 100%;
    height: 100%;
  }

  @media (max-width: 458px) and (min-width: 400px){
    .videoElementContainer{
      padding-bottom: 100px;
    }
   }

   @media (max-width: 399px) and (min-width: 345px){
    .videoElementContainer{
      padding-bottom: 180px;
    }
   }

   @media (max-width: 344px) and (min-width: 312px){
    .videoElementContainer{
      padding-bottom: 220px;
    }
   }

   @media (max-width: 311px){
    .videoElementContainer{
      padding-bottom: 240px;
    }
   }