.App {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.img{
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body,
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}


button {
    font-size: 16px;
}

div {
    margin: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    /* height: 500px; */
    justify-content: space-around;
    width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header-item {
  flex-shrink: 0;
}

.header-item.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px !important;
}

.header-item.right {
  margin-right: 3%;
  width: 5%;
  height: 2%;
}

.header-item.left {
  margin-left: 3%;
  width: 2%;
  height: 2%;
}

#previewName {
    font-size: 20px;
    color: #6a0dad
}

#connectionLabel {
    font-weight: lighter;
    font-size: smaller;
    display: inline-block
}

.inputsDiv {
    display: flex;
    max-width: 500px;
    min-width: 45%;
    position: absolute;
    bottom: 9vh;
}

#textArea {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 16px;
  color: black;
}

@media(max-width: 768px) {
  .inputsDiv {
    display: flex;
    max-width: 500px;
    min-width: 90%;
    position: absolute;
    bottom: 9vh;
  }
  .sendButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    padding: 5px 10px;
    width: 8%;
    aspect-ratio: 1;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 100%px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .header-item.right {
    width: 15%;
    height: 10%;
  }
  
  .header-item.left {
    width: 5%;
    height: 5%;
  }
}
#textArea::placeholder{
  font-weight:bold;
  color: #6a0dad;
  opacity: 0.5;
}

#answers {
    height: 450px;
    overflow: scroll;
}

#hidden {
    text-align: center;
}

#speechButton {
    color: black;
}

#speechButton:disabled {
    color: rgba(16, 16, 16, 0.3)
}

#videoElement {
    width: 100%;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-separator {
  position: fixed;
  top: 75px;
  width: 100%;
  height: .2vh;
  background-color: #F2E5FF;
  margin: 0;
  z-index: 1;
}

.parent-container {
  position: relative;
  width: 100%;
  height: 5px;
  left: -10px;
  right: -10px;
  margin: 0;
  padding: 0;
}

.sendButton {
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 1;
      padding: 5px 10px;
      width: 6%;
      aspect-ratio: 1;
      background: #6a0dad;
      color: white;
      border: none;
      border-radius: 100%px;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      place-items: center;
    display: flex;
    justify-content: center;
}

.lowerText{
  position: absolute;
  bottom: 1vh;
  font-size: 13px;
  padding: 2vw;
  max-width: 90%;
}

#sidebarButton{
  height:20%;
}

.buttonSendIcon{
  aspect-ratio: 1;
  min-height: 10px;
  min-width: 10px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin: 0;
}

.offcanvas {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 100vw !important;
  height: 100vh;
  margin: 0px;
}

.img-URL{
  padding-right: 2vh;
  width: 50px;
}

.li{
  font-size: 1.5rem;
}

.scrollButtonContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  z-index: 10;
}

.scrollButton {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('./img/Circle.png') no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}